@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito:wght@300&family=Roboto+Slab:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Overpass:wght@300&family=Playfair+Display:wght@600&display=swap');
*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

/* header styling starts here */
header { 
	background: #F2F2F2;
	padding: 0px;
 }

 #logo{
 	margin-left:20px;
 }

.navidiv {
	background-color: #F2542D; 
	overflow: hidden;
}

.navidiv img{
	margin-left: 30px;
	padding:0;
}

ul {
	float: right;
	list-style-type: none;
	margin-top: 60px;
}

ul li{
	display: inline;
	text-align: center;
	font-size: 25px;
	font-family: "Merriweather", "Roboto Slab", serif;
}

ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	transition: 0.4s ease;
}

ul li a:hover{
	background-color: #eeb76b;
	color: black;
}
/* header styling ends here */

.content{
	height:100%;
	width:100%;
	background-image: linear-gradient(to right, rgba(250, 90, 120, 0.3), rgba(255, 190, 30, 0.3)), url(images/bg2.gif);
	background-position: center;
	padding-bottom: 50px;
}

h3 {
	font-family: "Playfair Display", sans-serif;
	font-size: 60px;
	padding:15px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;	
}

p {
	padding:10px;
	text-align: center;
	font-family: "DM Sans", sans-serif;
	font-size: 40px;
	color: white;
}

form {
	font-family: "Overpass", sans-serif;
	padding: 10px;
	margin-left: 40px;
	font-size: 30px;
	color: white;
}

.log-in{
	margin: 20px;
	opacity: 0.9;
	background-color: #562C2C;
	border-radius: 10px;
	padding: 70px;
}

.sign-up{
	margin: 20px;
	opacity: 0.9;
	background-color: #562C2C;
	border-radius: 10px;
	padding: 70px;
}

#log-in-form input {
	size: 50;
	width: 80;
	font-size: 20px;
	font-family: "Overpass", sans-serif;
}

#sign-up-form input {
	size: 50;
	width: 80;
	font-size: 20px;
	font-family: "Overpass", sans-serif;
}

#sign-up-form #email-label {
	margin-left: 50px;
}

.submit-log-in {
	background-color: #0E9594;
	color: white;
	padding: 10px;
	font-size: 30px;
	border-radius: 12px;
	border: none;
	font-weight: 600;
	cursor: pointer;
	width:100px;
	transition-duration: 0.3s;
	display: block;
	margin-left: 200px;
}

.submit-log-in:hover {
	background-color: #127475;
}

.submit-sign-up {
	background-color: #0E9594;
	color: white;
	padding: 10px;
	font-size: 30px;
	border-radius: 12px;
	border: none;
	font-weight: 600;
	cursor: pointer;
	width:100px;
	transition-duration: 0.3s;
	display: block;
	margin-left: 200px;
}

.submit-sign-up:hover {
	background-color: #127475;
}

footer {
	background-color: #F2542D;
	padding:10px;
	font-family: "Merriweather", serif;
}